* {
  font-family: "Kosugi Maru", sans-serif;
}
.col-sm-12 {
  padding-top: 20px;
}
.circle {
  width: 20rem;
  height: 20rem;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  padding: 5%;
  border-radius: 50%;
}
section {
  padding-top: 80px;
}
section#s1 {
  background: #7abdff;
}
section#s2 {
  background: #ff6b35;
}
section#s3 {
  background: #9163cb;
}
section#s4 {
  background: #ff2400;
}
section#s5 {
  background: #0ead69;
}
section#s6 {
  background: #8a402c;
}
section#s7 {
  background: #ffea00;
}
section#s8 {
  background: #7a7a7a;
}
section#s10 {
  background: #004e89;
}
.toTop-arrow {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 33%;
  opacity: 0.6;
  background: #000;
  cursor: pointer;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
}
.toTop-arrow::before,
.toTop-arrow::after {
  width: 18px;
  height: 5px;
  border-radius: 3px;
  background: #f90;
  position: absolute;
  content: "";
}
.toTop-arrow::before {
  transform: rotate(-45deg) translate(0, -50%);
  left: 0.5rem;
}
.toTop-arrow::after {
  transform: rotate(45deg) translate(0, -50%);
  right: 0.5rem;
}
.toTop-arrow:focus {
  outline: none;
}